.breadcrumb {
    text-align: left;
  }
  .breadcrumb li {
    float: left;
  }
  .breadcrumb li+li::before {
    color: gray;
    content: ">";
  }
  .breadcrumb a {
  color: #fff;
    background: darkcyan;
    text-decoration: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    padding: 0 5px;
  }
  .breadcrumb a::before,
  .breadcrumb a::after {
    content: "";
    position: absolute;
    border-color: darkcyan;
    border-style: solid;
    border-width: 15px 5px;
  }
  .breadcrumb a::before {
    left: -10px;
    border-left-color:transparent
  }
  .breadcrumb a::after {
    left: 100%;
    border-color: transparent;
    border-left-color: darkcyan;
  }
  
  
  


  a{
    background-color: #D7263D;
    color: #ffffff;
    display: block;
    font-family: 'Pontano Sans',sans-serif;
    font-size: 16px;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
ul{
    padding: 0px;
    margin: 10px 0px;
}
li{
    margin:0px;
    list-style: none;
}
.breadcrumb a {
    background-color: inherit;
}